# 1 Assignment 3

1. Generate a function named **beta_OLS**. This function must return the estimated beta using OLS. The inputs of this function should be `X`, `y`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series** and `intercept` can be `True` or `False`, by default `True`. When `intercept` is `False`, the estimated beta does not include **intercept**. Also, you must specify the type of your function's parameters and output and It must raise an error if the inputs do not meet the requirements. The function's output must be a **pd.DataFrame** (`n`, 1) where `n` is the total number of regressors ( it includes the **Intercept** when `intercept` is `True`). The column should be named as **Coef.** and the row index should be named as the original name of the columns in `X` input. Your results should look like `output_example` being `X_input`, `y_input` and `intercept_input` your inputs. Apply your function to find $\widehat{\boldsymbol{\beta}}^{(OLS)}$ of the equation below. Use greene data.  **Hint: Use NumPy to generate the OLS beta and check [this link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) to change the index name of a pd.Dataframe, [link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f352f4c6563747572655f352e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_5%2FLecture_5.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96##5.1.7.).**

$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
greene = pd.read_csv(r"..\..\_data/christensen_greene_f4.csv")
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

In [3]:
greene.columns = [col.strip() for col in greene.columns]
greene.columns

Index(['id', 'YEAR', 'COST', 'Q', 'PL', 'SL', 'PK', 'SK', 'PF', 'SF'], dtype='object')

In [9]:
results = smf.ols( 'np.log( COST ) ~ np.log( Q ) + np.log(PL)+ np.log(PF) + np.log(PK)', data = greene)

In [10]:
X_input = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_input = pd.Series(results.endog , name = results.endog_names )
intercept_input = True

In [11]:
beta_OLS_output = results.fit().summary2().tables[1].iloc[ :, [0]]
beta_OLS_output

               Coef.
Intercept  -7.472227
np.log(Q)   0.838111
np.log(PL)  0.044258
np.log(PF)  0.713098
np.log(PK)  0.188449

In [13]:
only_cost = greene.COST.values # para y_input
only_Q = greene.Q.values # para lnQ
only_PL = greene.PL.values # para lnPL
only_PK = greene.PK.values # para lnKP
only_PF = greene.PF.values # para lnPF

In [14]:
# Hallar y_input
y_input = pd.DataFrame ([np.log( only_cost )])
y_input = y_input.T.iloc[:,0]
y_input.rename("np.log(COST)", inplace =True)
print ( y_input )

0     -1.546463
1      1.112745
2      2.241337
3     -0.273648
4      0.814789
         ...
153    1.921222
154    1.324552
155    1.381834
156    3.407444
157    4.217391
Name: np.log(COST), Length: 158, dtype: float64

In [15]:
# Hallar X_input
x_input_q = np.log( only_Q )
x_input_pl = np.log( only_PL )
x_input_pk = np.log( only_PK )
x_input_pf = np.log( only_PF )
x_input = pd.DataFrame([ x_input_q, x_input_pl, x_input_pk, x_input_pf ]).T
x_input.rename(columns = {0:'np.log(Q)', 1:'np.log(PL)',
                    2:'np.log(PF)', 3:'np.log(PK)'}, inplace = True)
print (x_input )

     np.log(Q)  np.log(PL)  np.log(PF)  np.log(PK)
0     2.079442    8.834842    4.173541    2.890372
1     6.767343    9.032763    4.222840    3.047708
2     7.252762    8.982297    3.706032    3.726416
3     4.174387    9.101852    3.719481    3.351272
4     5.686975    9.014131    4.275832    3.668677
..         ...         ...         ...         ...
153   6.852877    9.272579    3.775057    3.940863
154   5.932245    8.913583    4.305685    3.509633
155   5.968708    8.670093    4.360394    3.798473
156   8.578665    9.168125    4.356811    3.733853
157   9.630366    8.851676    4.304403    3.245011

[158 rows x 4 columns]

In [16]:
#Model
lnct = np.log(only_cost)
lnq = np.log(only_Q)
lnp1 = np.log(only_PL)
lnp2 = np.log(only_PK)
lnp3 = np.log(only_PF)
lnq_2 = np.multiply(lnq,lnq)
lnqlnp1 = np.multiply(lnq,lnp1)
lnqlnp2 = np.multiply(lnq,lnp2)
lnqlnp3 = np.multiply(lnq,lnp3)
lnp1_2 = np.multiply(lnp1,lnp1) 
lnp2_2 = np.multiply(lnp2,lnp2) 
lnp3_2 = np.multiply(lnp3,lnp3) 
lnp1lnp2 = np.multiply (lnp1,lnp2)
lnp1lnp3 = np.multiply (lnp1,lnp3)
lnp2lnp3 = np.multiply (lnp2,lnp3)

In [18]:
results_r = smf.ols( 'lnct ~ lnq + lnq_2 + lnqlnp1 + lnqlnp2 + lnqlnp3 + lnp1 + lnp2 + lnp3 + lnp1_2 + lnp2_2 + lnp3_2 + lnp1lnp2 + lnp1lnp3 + lnp2lnp3', 
        data = greene)
results_r

In [19]:
X_r = pd.DataFrame(results_r.exog, columns = results_r.exog_names).iloc[ : , 1: ]
y_r = pd.Series(results_r.endog , name = results_r.endog_names )
intercept_r = True
beta_OLS_output_r = results_r.fit().summary2().tables[1].iloc[ :, [0]]
beta_OLS_output_r

               Coef.
Intercept -76.259261
lnq        -1.080425
lnq_2       0.026489
lnqlnp1     0.131041
lnqlnp2     0.040144
lnqlnp3     0.058652
lnp1       14.718293
lnp2        6.380797
lnp3       -0.894733
lnp1_2     -0.769264
lnp2_2     -0.163707
lnp3_2     -0.036753
lnp1lnp2   -0.572050
lnp1lnp3    0.162283
lnp2lnp3   -0.024025