# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Dictionaries
1. Create a dictionary with two keys: `even_numbers` and `odd_numbers`. The first key should have all the even numbers in this range `[0, 2000]`, and the second key must have all the odd numbers in this range `[9000, 19000]`. The values should be stored in a `list`. **Hint: Use the `np.arange`, `zip`, and `np.tolist()` functions.** <br><br>
2. Print the value of `brand` key of `car` dictionary. **Hint: Use the `get` method.** <br><br>
3. Print all the the values of `brand` key of `car` dictionary. **Hint: Use the `values` method.** <br><br>
4. Print the max value  of `friday` in `january` of `hr_sleep` dictionary. **Hint: [Indexing in nested dictioanries](https://stackoverflow.com/questions/25836376/how-to-get-the-inner-indexes-of-a-nested-dictionary-in-python).** <br><br>
5. Add `march` key to the `hr_sleep` dictionary using `week1` and `values2` Python lists. **Hint: Use `zip` function adn [this link](https://stackoverflow.com/questions/1024847/how-can-i-add-new-keys-to-a-dictionary).** <br><br>

In [99]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

hr_sleep = {"january": {"wednesday": 7,
                      "thursday": 8,
                      "friday": [2, 2, 1, 2]},
          "february": {"saturday": 5,
                       "sunday": 10,
                       "monday": 8
          }
}

In [100]:
week1 = ['monday', 'sunday']
values2 = [ [2, 3, 4 ] , 8, ]

In [101]:
#1 

import numpy as np #importamos la librería numpy

even_numbers = np.arange(0, 2001, 2).tolist()  #creamos la lista de número del 0 al 2000  
odd_numbers = np.arange(9001, 19000, 2).tolist() #creamos la lista de número del 9001 al 18999

#creamos el diccionario con ambas listas
dicc1 = {
    "even_numbers": even_numbers,
    "odd_numbers": odd_numbers
}

In [102]:
#2

print(car.get("brand")) #imprimimos la marca que es Ford

Ford

In [103]:
#3

print(car.values()) #imprimimos los valores: 'Ford', 'Mustang', 1964

dict_values(['Ford', 'Mustang', 1964])

In [104]:
#4

outer_key = "january" #Definimos el outer_key como enero
inner_key = "friday" #Definimos el inner_key como viernes
print(max(hr_sleep[outer_key][inner_key])) #buscamos el valor máximo de horas dormidas en el viernes, que es 2

2

In [105]:
#5 

hr_sleep["march"] = {week: value for week, value in zip(week1, values2)} #agregamoslos valores de week1 y values2 usando zip
hr_sleep["march"]

{'monday': [2, 3, 4], 'sunday': 8}

## 1.2 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [4]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

## Restricted Least Squares

Given the following equation:


$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \frac{1}{2}\beta_{qq} lnq^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \frac{1}{2}\beta_{11}ln^{2}p_1+ \frac{1}{2}\beta_{22}ln^{2}p_{2}+ \frac{1}{2}\beta_{33}ln^{2}p_{3} + \frac{1}{2}\beta_{12}lnp_{1}lnp_{2}+ \frac{1}{2}\beta_{13}lnp_{1}lnp_{3}+\frac{1}{2}\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$


ST: 

<br>
$$
\begin{aligned} 
\beta_{1} + \beta_{2} + \beta_{3} &= 1 \\
\beta_{q1} + \beta_{q2} + \beta_{q3} &= 0 \\
\beta_{11} + \beta_{12} + \beta_{13} &= 0 \\
\beta_{21} + \beta_{22} + \beta_{23} &= 0 \\
\beta_{31} + \beta_{32} + \beta_{33} &= 0 \\
\beta_{ij} = \beta_{ji}
\end{aligned}
$$


1. Get $\widehat{\boldsymbol{\beta}}^{(RLS)}$ vector from the equation bellow. Use the `q`, `p1`, `p2`, `p3`, `CT` numpies. <br><br>
2. Get the `covariance matrix` $\mathbb{V}{\rm ar} \left(\widehat{\boldsymbol{\beta}}^{(RLS)} \right)$. <br><br>
**Hint: For more information about Restricted Least Squares [click here](http://web.vu.lt/mif/a.buteikis/wp-content/uploads/PE_Book/4-4-Multiple-RLS.html).**<br>

In [ ]:
import pandas as pd
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [ ]:
ct = greene.COST.values
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

# Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

In [110]:
# read REC0111 data
#!pip install savReaderWriter
#!pip install pyreadstat
import pyreadstat
import savReaderWriter as sav
rec1 = pd.read_spss( fr"../../_data/endes/2019/REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"../../_data/endes/2019/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [ ]:
dict_varlabels

In [111]:
# 1. We use method "is.unique" to check if column "CASEID" identifies each observation uniquely. 
# The output is True, in other words, there are not duplicates
rec1["CASEID"].is_unique

True

In [112]:
# 2. Set index using column "CASEID", specify inplace to modify data in place
# Pd: Use head() to visualize the output
rec1.set_index("CASEID", inplace=True)
rec1.head()

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000100201 2,2019.0,000100201,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0
000100201 3,2019.0,000100201,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,No,No,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0
000102801 2,2019.0,000102801,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000102801 6,2019.0,000102801,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,No,No,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0

In [113]:
# 3. Keep women who are 15-30 years old and live in Urban areas
# Use loc to filter cases by the four conditions: women, age beetwen 15-30 years, living in urban areas
# Pd: Use head() to visualize the output
rec1.filter = rec1.loc[ (rec1.V012 >= 15) & (rec1.V012 <= 30) & (rec1.V025 == "Urbano") , : ]
rec1.filter.head()

,ID1,HHID,V001,V002,V003,V004,V007,V008,V009,V010,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
CASEID,,,,,,,,,,,,,,,,,,,,,
000104801 2,2019.0,000104801,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,No,No,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0
000113601 2,2019.0,000113601,1.0,136.0,2.0,1.0,2019.0,1434.0,11.0,1988.0,...,No,No,No,010101,3.0,154803.0,Más rico,1.435294,Mujeres de 15 a 49 años de edad,7065.0
000116701 1,2019.0,000116701,1.0,167.0,1.0,1.0,2019.0,1434.0,6.0,2001.0,...,No,No,No,010101,3.0,154803.0,Más rico,1.672440,Mujeres de 15 a 49 años de edad,7065.0
000119101 1,2019.0,000119101,1.0,191.0,1.0,1.0,2019.0,1434.0,9.0,1995.0,...,No,No,No,010101,3.0,154803.0,Pobrer,0.234148,Mujeres de 15 a 49 años de edad,7065.0
000203001 2,2019.0,000203001,2.0,30.0,2.0,2.0,2019.0,1432.0,5.0,1990.0,...,No,No,No,010101,2.0,65298.0,Pobrer,-0.196449,Mujeres de 15 a 49 años de edad,7068.0

In [114]:
# 4. Use to_datetime function to convert V009 variable to datetime
# Then use dt.mont_name function to get the full month name 
# Last, apply str.slice function to just keep the three letters of month name
# Pd: Use loc to visualize V009 variable and the new column
rec1["birt_month"] =  pd.to_datetime(rec1["V009"], format='%m')
rec1["birt_month"] =  rec1["birt_month"].dt.month_name()
rec1["birt_month"] =  rec1["birt_month"].str.slice(stop=3)
rec1.loc[ :, ["birt_month", "V009"]]

                   birt_month  V009
CASEID
      000100201  2        Apr   4.0
      000100201  3        Jan   1.0
      000102801  2        Jun   6.0
      000102801  6        Mar   3.0
      000104801  2        May   5.0
...                       ...   ...
      325406201  2        Dec  12.0
      325406301  2        Jun   6.0
      325407001  2        Jul   7.0
      325407201  2        Dec  12.0
      325407401  2        Oct  10.0

[38335 rows x 2 columns]